.card-background {
    background-color: #fcfcfc;;
    z-index: -11000;
}

.card {
    margin: 4rem 6rem;
}

.card h1 {
    font-size: 3.1rem;
    font-weight: bold;
    text-align: start;
    color: rgb(0, 0, 0);
}

.card h2 {
    width: 45%;
    color: #CD0002;
    font-size: 1.2rem;
}

.first-des {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .5rem;
}

.first-des-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .5rem;
    margin: 4rem 6rem;
}

.first-des-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

.des-text {
    width: 45%;
    text-align: start;
    font-size: 1.1rem;  
}

.des-text h2 {
}

.des-text p {
    padding-bottom: 1.2rem;
    font-size: 1.2rem;
}

.image {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.image img {
    width: 80%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgb(0, 0, 0, .19);
}

.image img:nth-child(2) {
    position: absolute;
    top: -10%;
    right: 0;
    padding: 3%;
    background-color: aqua;
}

@media screen and (max-width: 850px) {
    .card {
        margin: 2rem 4rem;
    }

    .first-des {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }

    .first-des-reverse {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 3.5rem;
    }

    .card h2 {
        width: 95%;
    }

    .des-text {
        width: 100%;
    }

    .image {
        width: 100%;
        margin: 1.8rem 0;
    }

    .image img {
        height: 250px;
    }
}