.footer {
    background: #d1d1d1;
    padding: 2rem 6rem 1rem ;
    color: rgb(0, 0, 0);
    display: flex; 
}

 .bottom img {
    /* height: 80px; */
    width: 500px;
    /* margin-bottom: auto; */
    padding: 20px;
} 

.bottom {
    padding-top: 0rem;
    text-align: start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: auto; */
}

.bottom i {
    color: BLACK;
    font-size: 1.2rem;
    padding-right: 1rem;
}

.bottom i:hover {
    transform: scale(1.2);
}

.contactLab {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.bottom h4 {
    font-size: 1.3rem;
    padding: 1rem 0 .8rem 0;
}

.bottom p {
    padding-left: 2rem;
}

.bottom a {
    text-decoration: none;
    color: BLACK;
    padding-bottom: .4rem;
    font-size: 1.1rem;
}

.map {
    width: 400px;
    padding: 0; 
    padding-left: 10px;
}

@media screen and (max-width: 850px) {
    .footer {
        padding: 4rem 2rem;
        text-align: center;
    }

    .bottom {
        /* display: grid; */
    }
    .map {
        padding: 0; 
    }


}