.servicefull {
    margin: 4rem 6rem;
    color: #2a2a2a;
    text-align: center;
}
.servicefullcard {
    padding-top: 3rem;
}

.f-card {
    width: 100%;
    text-align: start; 
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem .8rem;
    margin-bottom: 1rem;
}

.f-image {
    height: 200px;
    overflow: center;
    border-radius: 7px;
}

.f-image img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: 0.3s ease-in-out;
}

.f-card h4 {
    font-size: 1.3rem;
    padding: .9rem 0 .2rem 0;
}

@media screen and (max-width:850px) {
    .servicefull {
        margin: 4rem 2rem;
    }

    .servicefullcard {
        flex-direction: column;
    }

    .f-card {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}